<div class="row">
    <div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                <th>Qui ?</th>
                <th>Livre ?</th>
                <th>Date Emprunt</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="emprunt in emprunts">
                <td>{{emprunt.child}}</td>
                <td>{{emprunt.book}}</td>
                <td>{{emprunt.date | date:'dd/MM/yyyy à HH:mm'}}</td>
                <td contenteditable="true">
                    <div class="btn-group ">
                        <a ng-click="cancelEmprunt(emprunt)" class="btn btn-default">Annulation</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
